.error-message{
  color: red;
}

.form-control:focus {
  border-color: #00000052;
  box-shadow: 0 0 0 0.2rem rgba(52, 51, 51, 0.25);
} 

.new-content >.dropdown-toggle::after {
  display: none !important; 
}

.content-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-item-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 10px;
}

.content-item-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns for two buttons per row */
}

.content-item-image{
  flex: 1;
  margin: auto;
}

.item-image{
  max-width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-caption {
    text-align: center;
    margin: 10px;
}

.image-caption > textarea {
  text-align: center;
  border:0;
  outline: none;
  width: 100%;
  overflow: hidden;
  resize: none;
}

.content-item-text{
  height: 100px;
  margin: 10px;
  width: 50%;
  flex: 1;
  word-wrap: break-word;
}

.content-item-markdown{
  margin: 10px;
  width: 50%;
  flex: 1;
}


.horizontal-line{
  border-bottom: '2px solid gray';
  box-shadow: '2px 2px 2px rgba(0, 0, 0, 0.3)';
  width: 50%;
  
}

.info-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.first-info{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 30px;
  height: 100%;
  gap: 20px;
}

.first-info > p{
  margin: 0;
}

.second-info{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 30px;
  height: 100%;
  gap: 20px;
}

.like-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30px;
}

.clickable{
  cursor: pointer;
}

.card-info-bar{
  display: flex;
  justify-content: space-between;
}

.blog-cards-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.blog-card{
  width: 50%;
  margin-top: 20px;
}

.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left{
  width: 30%;
  justify-content: left;
}

.nav-center{
  width: 30%;
  justify-content: center;
}

.nav-right{
  width: 30%;
  justify-content: right;
}

.updel-buttons{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
  width: 50%;
  gap: 5px;
}

.drawer-body-block{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.drawer-header{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.comment-info-bar{
  display: flex;
  justify-content: space-between; 
}

.comment-info-right{
  display: flex;
}

.share-button{
  display: flex;
  justify-content: flex-end;
}

.blacked{
  color: rgb(0, 0, 0);
}

.dropdown-item.active, .dropdown-item:active {
  color: #000000;
  text-decoration: none;
  background-color: #e9ecef;
}

.delete-comment-modal{
  z-index: 1300;
}